<script>
    $("#btnsave").click(function (){
        console.log("Save Button Clicked");
        let nm = $("#nameid").val();
        let em = $("#emailid").val();
        let pw = $("#passwordid").val();
        let csr = $("input[name=csrfmiddlewaretoken").val();
        if(nm == ""){
            console.log("Please Enter Name");
        }else if(em==""){
            console.log("Please Enter Email");
        }else if(pw==""){
            console.log("Please Enter password");
        }else{
<!--        console.log(nm);-->
<!--        console.log(em);-->
<!--        console.log(pw);-->
            mydata = { name:nm, email:em, password: pw ,csrfmiddlewaretoken:csr};
            $.ajax({
                url: "{% url 'save' %}",
                method: "POST",
                data : mydata ,
                success: function (data) {
<!--                    console.log(data.status);-->
                        if(data.status == "Save"){
                            console.log("Form Submitted Successfully");
                        }if(data.status == 0){
                            console.log("Unable to Save Form");
                        }
                },
            });
        }
    });

</script>